body{
    font-family: cursive, sans-serif;
    background-color: aliceblue;
    font-size: 20px;
}

#poubelles {
    font-size: 120px;
    margin-top: 19%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#pjaune{
    color: gold;
    font-size: 120px;
}

#pbleue{
    color: #3838ff;
    font-size: 120px;

}

#pmarron{
    color: saddlebrown;
    font-size: 120px;
}

#pverte{
    color: #049d04;
    font-size: 120px;
}

#dechet{
    font-size: 100px;
}


#réglesjeu{
    margin-left: 55%;
    margin-right: 5%;
    margin-top: 3%;
}

#debut{
    margin-left: 20%;

}
#boutoncommencer{
    margin-left: 2%;
}

#imgRandom{
    margin-left: 20%;
    margin-top: -25%;
}

#textjouer{
    text-align: center;
}

#start{
    font-size: 20px;
    border-radius: 10%;
    background-color:darkgray;
    color: black;
}